
.banner {
    height: 420px;
    background-image: url(../images/about/about-banner.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    position: relative;
}

.sub-menu {
    height: 40px;
    width: 367px;
    margin: auto;
    padding-top: 10px;
}

.banner-title {
    color: #2A77DD;
    font-family: "Open Sans";
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 27px !important;
    text-transform: uppercase;
    text-align: center;
    padding-top: 59px;
}

.banner-noidung {
    color: #41546C;
    font-family: "Open Sans";
    font-size: 50px !important;
    letter-spacing: -0.75px;
    line-height: 68px !important;
    text-align: center;
    padding-top: 11px;
}

.banner-toshiba {
    color: #41546C;
    font-family: "Open Sans";
    font-size: 50px !important;
    letter-spacing: -0.75px;
    line-height: 68px !important;
    text-align: center;
    padding-top: 3px;
}

.banner-menu {
    opacity: .92;
    color: #000000 !important;
    font-family: "Open Sans";
    font-size: 16px!important;
    letter-spacing: -0.3px;
    line-height: 22px!important;
    margin: 0 24px;
}

.banner-red {
    color: #F30909;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.75px;
    line-height: 68px;
    text-align: center;
}

.career {
    width: 1600px;
    margin: auto;
}

.career-title {
    color: #232323;
    font-family: "Open Sans";
    font-size: 40px !important;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 60px !important;
    text-align: center;
    padding-top: 56px;
}

.capability-model {
    color: #232323;
    font-family: "Open Sans";
    font-size: 28px !important;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 38px !important;
    padding-top: 69px;
}

.career-development {
    padding-left: 251px;
}

.setup {
    width: 1292px;
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}

.career-path-image {
    padding-left: 27px;
    padding-top: 32px;
}

.relation {
    color: #232323;
    font-family: "Open Sans";
    font-size: 28px !important;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 38px !important;
    padding-top: 80px;
}

.career-job {
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
    width: 1053px;
    padding-top: 8px;
}

.text-level {
    border: none !important;
    margin-left: 13px !important;
    width: 1029px;
}

.level {
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}
.building-address{
    width: 1030px;
    padding: 65px 0 0 0 !important;
}

.dots {
    font-size: 7px;
    padding-top: 30px;
}

.tsdv {
    width: 1053px;
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}

.dots2 {
    font-size: 4px;
    padding-top: 30px;
}

.text-level2 {
    border: none !important;
    margin-left: 24px !important;
    width: 1029px;
}

.traning-image {
    padding-left: 34px;
    padding-top: 32px;
}

.chances {
    color: #232323;
    font-family: "Open Sans";
    font-size: 28px !important;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 38px !important;
    padding-top: 69px;

}

.shine {
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}

.menu {
    background-color: #EDEDED;
    box-shadow: 0 2px 0 0 rgba(223, 231, 246, 0.72);
    height: 40px;
}

.aboutUs {
    width: 1600px;
    margin: auto;
}

.about-title {
    text-align: center;
    color: #232323;
    font-family: "Open Sans";
    font-size: 40px !important;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 60px !important;
    padding-top: 80px;
}

.establish {
    color: #7A7A7A;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px !important;
}

.address-b, .address-b a {
    color: #000000 !important;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px !important;
}

.address-b a:hover {
    color: #0064D2 !important;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px !important;
}

.about-images {
    text-align: left;
}

.about-address{
    margin-left: 70px;
}

.address-hanoi{
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
    padding-left: 20px;
    margin-top: 0 !important;
}

.software {
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
    padding-top: 22px;
}

.map-images {
    text-align: center;
    padding-top: 32px;
}

.corporate {
    color: #36393F;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}

.vision {
    width: 1150px;
    margin: auto;
    padding-bottom: 72px;
}

.vision-title {
    color: #232323;
    font-family: "Open Sans";
    font-size: 40px !important;
    font-weight: bold;
    letter-spacing: .2px;
    line-height: 60px !important;
    text-align: center;
    padding-top: 80px;
}

.mission {
    padding-top: 72px;
}

.hr-vision {
    width: 65px;
    height: 5px;
    background-color: #3973E6;
    margin-left: 3px;
    text-align: left;
}

.vision-nho {
    color: #232323;
    font-family: "Open Sans";
    font-size: 28px !important;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 38px !important;
    padding-top: 8px;
}

.tsdv-will {
    width: 539px;
    color: #434343;
    font-family: "Open Sans";
    font-size: 20px !important;
    letter-spacing: 0;
    line-height: 32px !important;
    text-align: left;

}

.be-the {
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px !important;
    padding-left: 16px;
    padding-top: 8px;
}


.be-the2 {
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px !important;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px !important;
    padding-left: 16px;
}
.done-24px{
    position: relative;
    top: 4px;
}

.be-the br{
    line-height: 16px;
}

.business a:hover{
    color: #0064D2!important;
}

.vision-image {
    width: 539px;
    border-radius: 5px;
    box-shadow: 0 9px 35px 0 rgba(57, 70, 88, 0.23);
}

.mission-image {
    width: 539px;
    border-radius: 5px;
    box-shadow: 0 9px 35px 0 rgba(57, 70, 88, 0.23);
}

.culture-images {
    width: 539px;
    border-radius: 5px;
    box-shadow: 0 9px 35px 0 rgba(57, 70, 88, 0.23);
}

.v-images {
    text-align: right;
}

.r-images {
    text-align: left;
}

.mission2 {
    padding-top: 128px;
}

.missions {
    padding-left: 33px;
}

.culture {
    padding-top: 128px;
}

.sub-menu .active, .sub-menu .active:hover {
    border-bottom: #075AB6 2px solid !important;
    padding-bottom: 7px !important;
    opacity: .92;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 22px;
}

.banner-menu:hover{
    opacity: .92;
    color: #878787 !important;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 22px;
}

.sub-menu .section a {
    text-decoration: red !important;
}

.about-motif {
    position: absolute;
    right: 0;
    top: 21%;
}

.business a {
    color: #232323 !important;
    font-family: "Open Sans";
    font-size: 18px !important;
    letter-spacing: 0;
    line-height: 32px !important;
}

@media screen and (max-width: 1599px) {
    .aboutUs {
        width: 1300px;
        margin: auto;
    }
}

@media screen and (max-width: 1364px) {
    .vision{
        width: 100%;
        padding-bottom: 24px;
    }
    .main {
        padding: 0;
        margin: 0;
    }

    .r-images{
        text-align: center;
    }

    .about-motif {
        display: none;
    }

    .banner {
        height: 323px;
        background-position: 48% 30%;
    }

    .banner h1.banner-title {
        color: white !important;
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        border: none;
    }

    .banner-menu-s {
        height: 40px;
        background-color: #EDEDED;
    }

    .menu-text-s {
        line-height: 40px;
        opacity: .92;
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: -0.3px;
        padding-left: 19px;
    }

    .menu-chevron {
        padding-top: 8px;
        mix-blend-mode: multiply;
    }

    #chevron:hover {
        cursor: pointer;
    }

    .active-sm {
        display: none;
    }

    .banner-menu {
        margin: 0;
        color: #000000!important;
        font-family: "Open Sans";
        font-size: 16px!important;
        letter-spacing: -0.3px;
        line-height: 22px!important;
        font-weight: 300 !important;
    }

    #banner-menu {
        background-color: #EDEDED;
    }

    .aboutUs {
        width: 343px;
        margin: auto;
    }

    .active-s a {
        font-weight: 600 !important;
    }
    #banner-menu {
        display: none;
    }

    .about-title {
        color: #232323;
        font-family: "Open Sans";
        font-size: 24px!important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 36px!important;
        text-align: left;
    }
    .establish-text{
        color: #7A7A7A;
        font-family: "Open Sans";
        font-size: 18px!important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px!important;
        display: inline-flex;
        align-self: center;
    }
    .address-sm{
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px!important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px!important;
        margin-top: 12px!important;
        padding-left: 32px;
        width: 293px;
    }
    .domain-specific {
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px!important;
        font-weight: 600;
        letter-spacing: -0.3px;
        line-height: 36px!important;
        text-align: left;
        padding-left: 32px
    }
    .software-play {
        color: #36393F;
        font-family: "Open Sans";
        font-size: 18px!important;
        letter-spacing: 0;
        line-height: 32px!important;
        font-weight: 500;
        margin-top: 13px !important;
    }
    .energy{
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px!important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px!important;
        margin-top: 19px;
    }
    .electronic {
        color: #000000;
        font-family: "Open Sans";
        font-size: 18px!important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px!important;
        width: 360px;
    }
    .blue-center {
        height: 5px;
        width: 72px;
        background-color: #0064D2;
        margin: 72px auto 20px auto;
    }
    .activities {
        color: #1F1F1F;
        font-family: "Open Sans";
        font-size: 22px!important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 34px!important;
        text-align: center;
    }
    .besides {
        color: #494949;
        font-family: "Open Sans";
        font-size: 18px!important;
        letter-spacing: -0.02px;
        line-height: 34px!important;
        font-weight: 500;
    }
    .tablet-nav .header .brand{
        margin-left: 0!important;
        margin-bottom: 0 !important;
    }
    .hr-vision{
        width: 56px;
        margin-left: 0;
    }
    .vision-title{
        color: #232323;
        font-family: "Open Sans";
        font-size: 24px !important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 36px !important;
        text-align: center;
        padding-bottom: 35px;
        padding-top: 32px;
    }
    .vision-image{
        width: 70%;
    }
    .v-images{
        text-align: center;
    }
    .vision-nho{
        padding-top: 0;
        padding-bottom: 8px;
        color: #1F1F1F;
        font-family: "Open Sans";
        font-size: 22px !important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 34px !important;
    }
    .tsdv-will{
        width: 100%;
        color: #2B2B2B;
        font-family: "Open Sans";
        font-size: 18px!important;
        letter-spacing: 0;
        line-height: 32px !important;
        padding-top: 16px;
    }
    .be-the2{
        padding: 0;
    }
    .be-the{
        padding: 0;
    }
    .done-size-s{
        position: relative;
        top: 4px;
    }
    .hr-mission{
        width: 56px;
        height: 5px;
        background-color: #3973E6;
        margin-top: 72px;
        text-align: left;
    }
    .about-title{
        color: #232323;
        font-family: "Open Sans";
        font-size: 24px !important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 36px !important;
        padding-top: 48px;
    }
    .about-address{
        margin: 0;
    }
    .establish{
        color: #7A7A7A;
        font-family: "Open Sans";
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px !important;
    }
    .address-b{
        color: #000000;
        font-family: "Open Sans";
        font-size: 16px !important;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px !important;
    }
    .address-hanoi{
        font-size: 16px !important;
    }
    .software{
        color: #36393F;
        font-family: "Open Sans";
        font-size: 16px !important;
        letter-spacing: 0;
        line-height: 28px !important;
        padding-top: 0;
        margin-top: 4px !important;
    }
    .position{
        color: #1F1F1F;
        font-family: "Open Sans";
        font-size: 22px !important;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 34px !important;
        padding-top: 4px;
        text-align: center;
    }
    .map-images {
        width: 100%;
    }
    .hr-outservice{
        margin-top: 72px;
    }
    .build-images{
        width: 50%;
        border-radius: 5px;
    }
}
@media screen and (max-width: 767px){
    .vision-image{
        width: 100%;
    }
    .build-images{
        width: 100%;
        border-radius: 5px;
    }
}
