.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 2.5rem;
    z-index: 1020;
}

.sticky-nav a span, div.mobile-nav a span {
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.01px;
    line-height: 22px;
    font-size: 16px;
    color: #3b3b3b;
    padding-left: 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

#main-mobile {
    margin-top: 2rem;
}

div.row.nav-cell {
    background-color: #f2f5fc;
    transition: border-left-width .1s;
}

@media (prefers-reduced-motion: reduce) {
    div.row.nav-cell {
        transition: none;
    }
}

.mobile-nav div.row.nav-cell {
    margin: 0 1rem;
}

div.row.nav-cell > div.link-div {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

div.row.nav-cell:hover > div.link-div > span, div.row.nav-cell.active > div.link-div > span {
    font-weight: 700;
}

div.row.nav-cell:hover > div.link-div, div.row.nav-cell.active > div.link-div {
    padding-right: 15px;
}

div.row.nav-cell {
    border-left: 0 solid #2a77dd;
}

nav.nav-section span::after {
    content: attr(data-title);
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
}

@media (min-width: 1367px) {
    nav.nav-section > div {
        width: 287px;
        float: right;
    }
}

div.row.nav-cell.active, div.row.nav-cell:hover {
    border-left-width: 3px;
}

div.row.nav-cell.active {
    background-color: #dee6f7;
}

.sticky-nav div.row.nav-cell.active span, .sticky-nav div.row.nav-cell:hover span,
.mobile-nav div.row.nav-cell.active span, .mobile-nav div.row.nav-cell:hover span {
    font-weight: bold;
}

div.mobile-nav a:link {
    -webkit-tap-highlight-color: unset;
}

/* For IE and Edge */
_:-ms-lang(x), .sticky-nav a span {
    display: inline-block;
}
