h1.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    letter-spacing: -0.02px;
    line-height: 45px;
    border-bottom: none;
}

h2.section-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
    letter-spacing: -0.52px;
    line-height: 45px;
    border-bottom: none;
    margin-top: 72px;
}

/* Top border for h2 */
h2.section-header::before {
    content: "";
    display: block;
    margin-top: 3rem;
    margin-bottom: 0.7rem;
    width: 3rem;
    border-top: 0.3rem solid #2a77dd;
}

h2.section-header:first-of-type::before {
    margin-top: 0;
}

.main-content p, .main-content li {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

#main-desktop p, #main-desktop li {
    font-size: 18px;
}

#main-mobile p, #main-mobile li {
    font-size: 16px;
}

#main-desktop p {
    margin: 1rem 0 !important;
}

#main-mobile p {
    margin: 1.5rem 0 !important;
}

.main-content img.overview-list-img {
    height: 12px;
    background: none;
    width: 19px;
    border: none;
}

.main-content li.list-item {
    font-weight: bold;
    margin-left: 3rem;
    margin-right: 3rem;
    list-style: none;
    position: relative;
    padding-bottom: 11px;
}

.main-content li.list-item span {
    position: relative;
    left: 28px;
}

.main-content li.list-item::before {
    content: url(../images/done-24px.svg);
    height: 24px;
    position: absolute;
    top: 1px;
}

.main-content li.overview-list-item {
    list-style: none;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 16px;
    margin-left: 3rem;
}

.main-content img.leftAlone {
    float: none;
    border: none;
    margin: 0;
}

li.overview-list-item span, li.overview-list-item span:hover {
    color: black;
    cursor: pointer;
}

img.overview-list-img {
    transition: transform .2s ease-in-out;
}

li.overview-list-item > span:hover > img.overview-list-img {
    transform: translateX(.5rem);
}

h3 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #444;
}

.refer {
    color: #000000 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.3px;
    line-height: 22px;
    text-align: right;
}

.refer:hover .overview-list-img {
    transform: translateX(16px);
    transition: transform .25s;
}

p.embedded, h3.embedded {
    padding-top: 8px;
    font-size: 22px !important;
    line-height: 30px !important;
    font-weight: 600;
    color: #3B3B3B;
    letter-spacing: 0;
}

div.main-content p > a.toshiba-asia-link, div.main-content p > a.toshiba-asia-link:hover {
    color: #2a77dd
}

#main-mobile {
    margin-bottom: 48px;
}

#main-mobile li.list-item, #main-mobile li.overview-list-item {
    margin-left: 0;
}

#main-mobile li.list-item {
    max-width: 95%;
}

#main-mobile h1.title {
    font-size: 24px;
    font-weight: bold;
}

#main-mobile h2.section-header {
    margin-bottom: 24px;
    margin-top: 70px;
    font-size: 20px;
}

#main-mobile h2.section-header::before {
    width: 72px;
}

#main-mobile h2.section-header:first-of-type {
    margin-top: 48px;
}

#main-mobile img:not([class]) {
    width: 100%;
}

#desktop-display {
    max-width: 80%;
}

#main-mobile img {
    max-width: 100%;
}
