.hero-image-md {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 420px;
    width: 100%;
    margin: auto;
    background-image: url(../images/News-banner_LM2.jpg);
}

.hero-image-sm {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 76% 50%;
    height: 420px;
    width: 100%;
    margin: auto;
    background-image: url(../images/News-banner_LM2.jpg);
}

div.news-motif-image {
    left: 0;
    position: absolute;
    top: 261px;
}

body ::selection {
    background-color: #2a77dd;
    color: #fff;
    text-shadow: none;
}
