h1.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    letter-spacing: -0.02px;
    line-height: 45px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 72px;
}

h2.section-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: black;
    letter-spacing: -0.52px;
    line-height: 45px;
    border-bottom: none;
}

/* Top border for h2 */
h2.section-header::before {
    content: "";
    display: block;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    width: 3rem;
    border-top: 0.3rem solid #2a77dd;
}

h2.section-header:first-of-type::before {
    margin-top: 0;
}

.main {
    padding: 0
}

p.qt-overview-content, li.qp-list-item, dt.qp-list-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
}

p.quality-images {
    padding-top: 32px;
    padding-bottom: 32px;
}

h3 {
    font-family: "Open Sans", sans-serif !important;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #444;
}

li.qp-list-item {
    margin-left: 2rem;
    list-style-type: circle;
}

ul.inside {
    list-style-position: inside;
}

ul .bold {
    font-weight: bold;
}

/* For Knowledge & Skillset page */
div.card * {
    font-family: "Open Sans", sans-serif;
}

div.card.skillset-card {
    border: none;
    height: 100%;
    max-width: 622px;
    margin: 0 auto;
}

div.card.skillset-card > div.card-body {
    border: 1px solid #ebecf0;
    border-top: none;
}

div.card.skillset-card > div.card-header.skillset-name {
    background-color: #ebecf0;
    text-align: center;
    line-height: 1.5;
    border: none;
}

div.card.skillset-card > div.card-header.skillset-name span {
    font-size: 22px;
    font-weight: bold;
    color: #0064d2;
    height: 72px;
}

@media (max-width: 1599px) {
    div.card.skillset-card > div.card-header.skillset-name span {
        font-size: 20px;
    }
}

div.card-body.skillset-card-body {
    padding-left: 1.5rem;
}

div.card-body.skillset-card-body > dl {
    margin-left: 0;
}

div.card-body.skillset-card-body > dl > dt::before {
    content: url(../images/done-24px.svg);
    height: 24px;
    position: relative;
    top: 4px;
}

div.card-body.skillset-card-body > dl > dt > span {
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    padding-left: 8px;
}

div.card-body.skillset-card-body > dl > dd, div.card-body.skillset-card-body > span {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 35px;
    color: #36393f;
    margin-bottom: 1.5rem
}

#main-desktop div.knowledge-skillset div.d-block:nth-child(odd) > div.skillset-card {
    float: right;
    width: 100%;
    margin-right: 9px;
}

#main-desktop div.knowledge-skillset div.d-block:nth-child(even) > div.skillset-card {
    margin-left: 9px;
}

#desktop-display {
    width: 1150px;
    max-width: 80%;
}

#mobile-display h1.title {
    font-size: 24px;
    margin-bottom: 40px;
}

#mobile-display p.qt-overview-content, #mobile-display li.qp-list-item {
    font-size: 16px;
}

#mobile-display li.qp-list-item {
    margin-left: 0;
}

object, img.qp-image {
    max-width: 100%;
}

@media (max-width: 1366px) {
    #main-mobile h1.title {
        margin-top: 8px;
        margin-bottom: 48px;
    }
}
