/* For the news preview on the left */

h1.latest-news-title {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: none;
}

h2.article-title > a {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.25;
    color: black;
}

@media (max-width: 1366px) {
    h2.article-title > a {
        font-size: 22px;
    }
}

h2.article-title > a:hover {
    color: black;
    text-decoration: underline;
}

p.short-summary {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #36393f;
    letter-spacing: 0;
}

span.tag-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2a77dd;
    background-color: #f0f6ff;
}

span.article-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 1.5;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 2.5rem;
    z-index: 1020;
}

div.news-container {
    margin-bottom: 4.5rem;
}

div.news-metadata-row > span.article-title {
    padding-left: 15px;
}

div.news-metadata-row > div.news-tags {
    margin-left: 1rem;
}

div.news-container img.news-thumbnail {
    transition: transform .2s ease-in-out;
}

div.news-container img.news-thumbnail:hover {
    transform: scale(1.1);
}

#load-more-button {
    background-color: #0064d2;
    border-radius: 3px;
    height: 50px;
    width: 278px;
}

#load-more-button:hover {
    background-color: #2e82dc;
}

#load-more-button:disabled {
    background-color: lightgrey;
}

#load-more-button span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

/* For the sidebar on the right */

h4.sidebar-header-text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

p.top-article-link > a {
    font-family: "Open Sans", sans-serif;
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

p.top-article-link > a:hover {
    color: black;
    text-decoration: underline;
}

hr {
    color: #e7e7e7
}

span.tag-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2a77dd;
    background-color: #f0f6ff;
    height: 30px;
}

span.tag-link:hover {
    background-color: #dae4f1;
}

span.date-text {
    padding-left: 8px;
}
